@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "mytheme";
  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */

  --font-main: "Poppins", sans-serif;
  --font-arabic: "Cairo", sans-serif;

  --color-primary: #11679d;
  --color-darker-primary: #093652;
  --color-lighter-primary: #4a9fd8;

  --color-background: #ffffff;
  --color-foreground: #fff;
  --color-card: #ffffff;
  --color-card-foreground: #000000;
  --color-primary-foreground: #ffffff;

  --color-secondary: #3499cc;
  --color-secondary-foreground: #ffffff;
  --color-accent: #e2e8f0;
  --color-accent-foreground: #0e5680;
  --color-border: #cbd5e1;
  --color-ring: #2a7aa3;

  --color-destructive: #b91c1c;
  --color-destructive-foreground: #ffffff;
}

* {
  border-color: var(--color-border);
}

body {
  background-color: var(--color-background);
  color: var(--foreground);
  overflow-x: hidden;
}

.btn-gradient {
  background: linear-gradient(to right, var(--color-primary), var(--color-lighter-primary));
  transition: all 0.3s ease;
}

.btn-gradient:hover {
  background: linear-gradient(to right, var(--color-darker-primary), var(--color-primary));
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgba(14, 86, 128, 0.3);
}
